body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    height: 100%; /* sayfa yüksekliğini kapsaması için */
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    max-width: 200px;
    height: auto;
}

.input-group-text {
    background-color: #007bff;
    color: #fff;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}

.btn-secondary {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #0056b3;
}

.list-group-item {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.list-group-item:hover {
    background-color: #e9ecef;
}

.form-check-label {
    margin-left: 10px;
}

.h5 {
    font-size: 1.25rem;
    font-weight: bold;
}

hr {
    margin: 10px 0;
    border-color: #007bff;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #007bff;
}

.form-check-input {
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

input[type="text"], button {
    height: 100%; 
}
